<div class="container">
  <mat-card class="card-top">
    <mat-card-header>
      <mat-card-title class="title-company">VNPT - ITKV5 - TỔ 1 - ICS</mat-card-title>
    </mat-card-header>
  </mat-card>

  <div class="card-width">
    <mat-card class="card-layout">
      <mat-card-header>
        <mat-card-title class="title-project">DỰ ÁN THỰC TẬP 2023
          <hr>
        </mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title class="title-name-project">QUẢN LÝ NÂNG CẤP THIẾT BỊ</mat-card-title>
      </mat-card-header>
      <div class="card-content">
        <div class="card">
          <mat-card-header>
            <mat-card-title class="title">Front-end:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>B1906679 Nguyễn Thanh Hùng</p>
            <p>B1910390 Dương Hữu Khanh</p>
          </mat-card-content>

          <mat-card-header>
            <mat-card-title class="title">Back-end:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>B1910146 Nguyễn Văn Thiệt</p>
            <p>B1910227 Đỗ Thái Gia Huy</p>
          </mat-card-content>

          <mat-card-header>
            <mat-card-title class="title-location">05/2023 - TIỀN GIANG</mat-card-title>
          </mat-card-header>
        </div>
        <div class="card">
          <mat-card-header>
            <mat-card-title class="title" style="margin-left: 128px;">Người hướng dẫn:</mat-card-title>
          </mat-card-header>
          <mat-card-content style="text-align: right;">
            <p>Liên Phương Thái</p>
            <p>Trần Minh Thạnh</p>
            <p>Trần Ngọc Tú</p>
          </mat-card-content>
          <img mat-card-image src="../../../assets/unnamed.webp" alt="">
        </div>
      </div>
    </mat-card>
  </div>
</div>
