.container {
  margin: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}


.mat-elevation-z8 {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.mat-mdc-table .mdc-data-table__header-row {
  background-color: #6c6b68;
}

.mdc-data-table__header-cell {
  font-weight: 700;
  color: #ffffff;
}

.column-header {
  display: none;
}

.header-cell {
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .mat-elevation-z8 {
    box-shadow: none;
  }

  .mat-header-row {
    display: flex;
    flex-wrap: wrap;
  }

  td.data-cell {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 15px;
  }

  .column-header {
    display: block;
    margin-right: 8px;
    flex-basis: 50%;
    text-transform: uppercase;
  }

  .column-value {
    margin-left: 8px;
    flex-basis: 50%;
    font-weight: bold;
  }

  .custom-table .header-cell:nth-child(1),
  .custom-table .header-cell:nth-child(2),
  .custom-table .header-cell:nth-child(3) {
    display: none;
  }

  .mat-mdc-table .mdc-data-table__header-row {
    height: 0px;
  }

  .mdc-data-table__cell {
    background: #ffffff;
  }

  .mdc-data-table__cell:nth-child(3) {
    margin: 0 0 10px 0;
  }


  /* .mat-mdc-row {
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
  } */

  .mat-mdc-table {
    /* background: #6c6b68; */
    background: inherit;
  }

  .custom-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
  }

  .custom-row {
    /* background-color: #f5f5f5; */
    background-color: #6c6b68;
  }

  mat-row.custom-row {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
}
